         <tr>
              <td class="middle">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <%= image_tag contact.gravater, class: "media-object" %>
                      </a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading"><%= contact.name %></h4>
                      <address>
                        <strong class="white-text"><%= contact.company%></strong>
                        <br>
                        <%= contact.email%>
                        </address>
                      </div>
                    </div>
                  </td>
                  <td width="100" class="middle">
                    <div>
                      <a href="#" class=" btn-circle " title="Edit">
                        <i class="ion-ios-compose-outline text-success "></i>
                      </a>
                      <a href="#" class="btn-circle " title="Edit">
                        <i class="ion-ios-trash-outline  text-secondary"></i>
                      </a>
                    </div>
                  </td>
                </tr>
