<%= render 'layouts/sidenav' %>





<!-- content -->
<div class=" contacts-outer"><%= render 'layouts/lowernavbar' %>
  <div class="container">

    <div class="row main-section">
      <div class="col-md-3"><%= render 'layouts/mainsidenav' %>
      </div>
      <!-- /.col-md-3 -->
      <div class="col-md-9 main-content-dash">
        <h3 class="main-head"> Contacts</h3>
        <% if @contacts.blank? %>
             <div class="alert alert-warning" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <strong> record not found </strong>
            </div>
        <%end %>
        <div class="panel panel-default">
          <table class="table">
            <%= render @contacts %>

            </table>
                </div>
                <div class="text-center">
                  <nav class="pag-sec">
                    <ul class="pagination  class=" text-secondary"">
                      <li  class=" text-secondary">
                        <a href="#"  class=" text-secondary" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      <li class="active text-secondary">
                        <a href="#">1</a>
                      </li>
                      <li  class=" text-secondary">
                        <a  class=" text-secondary" href="#">2</a>
                      </li>
                      <li  class=" text-secondary">
                        <a  class=" text-secondary" href="#">3</a>
                      </li>
                      <li  class=" text-secondary">
                        <a  class=" text-secondary" href="#">4</a>
                      </li>
                      <li  class=" text-secondary">
                        <a  class=" text-secondary" href="#">5</a>
                      </li>
                      <li  class=" text-secondary">
                        <a href="#" class=" text-secondary" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
