 <%= render 'layouts/sidenav' %>
<!-- content -->
<div class=" contacts-outer"><%= render 'layouts/lowernavbar' %>

  <div class="container mt-4">
    <div class="row">


    <div class="col-md-3">
        <%= render 'layouts/mainsidenav' %>
    </div>
      <div class="col-md-9">
          <div class="panel panel-default form-panel">
            <div class="panel-heading ml-3 mb-2">
              <strong>Add Contact</strong>
              <hr>
            </div>
            <div class="panel-body">
              <div class="form-horizontal">
                <form class="">
                <div class="row">
                  <div class="col-md-6 no-gutters mr-1 pr-1">
                    <div class="form-group">
                      <label for="name" class="control-label col-md-3">Name</label>
                      <div class="col-md-12">
                        <input type="text" name="name" id="name" class="form-control">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="company" class="control-label col-md-3">Company</label>
                      <div class="col-md-12">
                        <input type="text" name="company" id="company" class="form-control">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="email" class="control-label col-md-3">Email</label>
                      <div class="col-md-12">
                        <input type="text" name="email" id="email" class="form-control">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="phone" class="control-label col-md-3">Phone</label>
                      <div class="col-md-12">
                        <input type="text" name="phone" id="phone" class="form-control">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="name" class="control-label col-md-3">Address</label>
                      <div class="col-md-12">
                        <textarea name="address" id="address" rows="3" class="form-control"></textarea>
                      </div>
                    </div>






                </div>
                  <div class="col-md-5 form-right no-gutters ml-0 pl-0 mr-0 pr-0">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                      <div class="row">
                        <div class="col-md-6 pl-4 ">



                      <div class="fileinput-new thumbnail" style="width: 150px; height: 150px;">
                        <img src="http://placehold.it/150x150" alt="Photo">
                      </div>
                       </div>
                       <div class="col-md-6">


                      <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
                      <div class="text-center">
                        <span class="btn btn-dark btn-file"><span class="fileinput-new">Choose Photo</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                        <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
                      </div>
                    </div>
                     </div>
                   </div>
                    <div class="form-group">

                      <div class="col-md-12  mt-4  mr-0 pr-0">
                        <div class="pt-3">


                        <select name="group" id="group" class="form-control">
                          <option value="">Select group</option>
                          <option value="1">Family</option>
                          <option value="2">Friend</option>
                          <option value="3">Other</option>
                        </select>
                         </div>
                      </div>
                       <div class="col-md-12">
                       <div class="row">
                      <div class="col-md-12 mt-4  pr-0">
                        <a href="#" id="add-group-btn" class="btn mt-4  btn-outline-dark mt-2 btn-block">+ Group</a>
                      </div>
                        <div class="col-md-12 mt-4 pr-0" >
                          <input type="text" name="new_group" id="new_group" class="form-control  " placeholder="Type group name">
                      </div>

                         <div class="panel-footer">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class=" col-md-12 ml-3  mt-4">
                      <button type="submit" class="btn  btn-outline-success ">Save New Contact</button>
                      <a href="#" class="btn btn-secondary ">Cancel Add Contact</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
                     </div>
                  </div>
                 </div>
                  </div>
                </div>
              </div>
            </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
