 <%= render 'layouts/sidenav' %>
<!-- content -->
<%= render 'layouts/lowernavbar' %>
<div class=" contacts-outer">

  <div class="container">
    <div class="row">


    <div class="col-md-3">
        <%= render 'layouts/mainsidenav' %>
    </div>
      <div class="col-md-9">
          <div class="panel panel-default special-color form-panel">
            <div class="panel-heading ml-3 mb-2">
              <strong>Add Contact</strong>
              <hr>
            </div>
            <div class="panel-body special-color">
              <div class="form-horizontal">
                <form class="">
                <div class="row">
                  <div class="col-md-6 no-gutters mr-1 pr-1">
                    <div class="form-group">
                      <label for="name" class="control-label col-md-3 white-text">Name</label>
                      <div class="col-md-12">
                        <input type="text" name="name" id="name" class="form-control rounded-0">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="company" class="control-label col-md-3 white-text">Company</label>
                      <div class="col-md-12">
                        <input type="text" name="company" id="company" class="form-control rounded-0">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="email" class="control-label col-md-3 white-text">Email</label>
                      <div class="col-md-12">
                        <input type="text" name="email" id="email" class="form-control rounded-0">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="phone" class="control-label col-md-3 white-text">Phone</label>
                      <div class="col-md-12">
                        <input type="text" name="phone" id="phone" class="form-control rounded-0">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="name" class="control-label col-md-3 white-text">Address</label>
                      <div class="col-md-12">
                        <textarea name="address" id="address" rows="3" class="form-control rounded-0"></textarea>
                      </div>
                    </div>






                </div>
                  <div class="col-md-5 form-right no-gutters ml-0 pl-0 mr-0 pr-0">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                      <div class="row">
                        <div class="col-md-6 pl-4 ">



                      <div class="fileinput-new thumbnail" style="width: 150px; height: 150px;">
                        <img src="http://placehold.it/150x150" alt="Photo">
                      </div>
                       </div>
                       <div class="col-md-6">


                      <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
                      <div class="text-center">
                        <span class="btn default-color-dark btn-file rounded-0"><span class="fileinput-new">Choose Photo</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                        <a href="#" class="btn btn-danger fileinput-exists rounded-0" data-dismiss="fileinput">Remove</a>
                      </div>
                    </div>
                     </div>
                   </div>
                    <div class="form-group">

                      <div class="col-md-12  mt-4  mr-0 pr-0">
                        <div class="pt-3">


                        <select name="group" id="group" class="form-control rounded-0">
                          <option value="">Select group</option>
                          <option value="1">Family</option>
                          <option value="2">Friend</option>
                          <option value="3">Other</option>
                        </select>
                         </div>
                      </div>
                       <div class="col-md-12">
                       <div class="row">
                      <div class="col-md-12 mt-4  pr-0">
                        <a href="#" id="add-group-btn" class="btn mt-4  btn bg-dark mt-2 btn-block rounded-0">+ Group</a>
                      </div>
                        <div class="col-md-12 mt-4 pr-0" >
                          <div class="input-group mb-3">
                          <input type="text" name="new_group" id="new_group" class="form-control rounded-0  " placeholder="Type group name">
                          <div class="input-group-append">
                            <span class="input-group-text rounded-0 bg-dark border-0" id="basic-addon2 "><i class="ion-android-done white-text "></i></span>
                          </div>
                        </div>
                      </div>

                         <div class="panel-footer">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class=" col-md-18 ml-4 mr-0  mt-4">
                      <button type="submit" class="btn default-color-dark rounded-0">Save New Contact</button>


                      </div>
                      <div class="col-md-4 mt-4 ml-0 mr-0">
                           <a href="#" class="btn  btn-danger  ml-0  deep-orange-text rounded-0">Cancel</a>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
                     </div>
                  </div>
                 </div>
                  </div>
                </div>
              </div>
            </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
