<div class="list-group main-side">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start bg-dark">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Leads</h5>
      <small class="text-muted badge badge-pill">3 </small>
    </div>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Falmily</h5>
      <small class="text-muted badgebadge-pill">12</small>
    </div>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Deals</h5>
      <small class="text-muted badge  badge-pill">12</small>
    </div>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Other</h5>
      <small class="text-muted badge  badge-pill">12</small>
    </div>
  </a>
</div>
