<div class="sidenavbar">
  <div class="left pt-4">
    <div class="item active pl-2">
      <span class="ion-ios-people-outline pl-1 side-icon"></span>
   Contacts
    </div>
    <div class="item  pl-2">
      <span class="ion-ios-list-outline pl-1 side-icon"></span>
    Action Steps
    </div>
    <div class="item  pl-2">
      <span class="ion-ios-home-outline pl-1 side-icon"></span>
    Properties
    </div>
    <div class="item  pl-2">
      <span class="ion-ios-pulse pl-1 side-icon"></span>
    Deals
    </div>
    <div class="item  pl-2">
      <span class="ion-ios-telephone-outline pl-1 side-icon"></span>
    Leads
    </div>
  </div>
</div>
